<a href="https://colab.research.google.com/github/Singh2526/Singh2526/blob/main/Learning01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learning to code

In [ ]:
#Printing a string will be like print('''Ashutosh''')
print('''Ashutosh''')

Ashutosh

Variable and Data types

Variable example a=30
Sting: Charater including single or double quote. When we are enclosing in double quote we cant add string in multiple lines which is not in the case of triple quote.

In [ ]:
a = "Ashutosh" #String
b = 345 #integer
c = 45.32 #float

**Operators**
Arithemetic operators = +,-,/,*
Assingment operators = =,+=, -=
Comparison Operators = == > < !
Logical Operators = and, or, not

In [ ]:
a = 3
b = 4
print("The value of 3 + 4 is " , 3 + 4)

The value of 3 + 4 is  7

In [ ]:
#Assingment operator
a = 34
a += 2
#not equal to !=
print(a)

36

Bollean bool1 = True bool2 = False and if both are true or anyone not

Type casting is the process of converting one data type into another

Conversion mechanism
Str(31) = "31"
float(32)= 32.00
int(32) = 32

In [ ]:
#Type casting
a = "3534"
#to cheak the data type
print(type(a))
#to change the interpreater from string to int
a = int(a)
print(a + 5)

<class 'str'>
3539

input function

In [ ]:
a = input("Enter your name")
print(a)

Enter your nameAshutosh Singh
Ashutosh Singh

% = modulus function

In [ ]:
#Finding remainder
a = 25
b = 2
print("The remainder when a is divided by b", a%b)

The remainder when a is divided by b 1

In [ ]:
#avg of the two number
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = (a+b)/2
print(c)

Enter the first number: 50
Enter the second number: 10
30.0

In [ ]:
#to calculate square of a number
a = float(input("Enter the number to square: "))
b = a*a
print(b)

Enter the number to square: 255.25
65152.5625

**String**
Slicing the string

In [ ]:
a = "Ashutosh "
b = "Singh"
#c = a + b
#print(c)
#Getting first two char from a 
#Slicing
#index
#print(a[1:3])
#Negative index
print(a[-2])

h

In [ ]:
#Slicing with skip
#the number of values we want to skip we can take it as third value
#third value skip in looping fashion
a ="Ashutosh"
print(a[2::2])

hts

String function

In [ ]:
#String Function
Story = "Once upon a time there was a youtuber name Ravi"
#String function
print(len(Story)) #No: of char
print(Story.endswith("bhbhnj"))
print(Story.endswith("Ravi"))
print(Story.count("a")) #No: of times a char is there
#capitalize
print(Story.capitalize())
print(Story.find("Ravi"))
print(Story[43])
print(Story.replace("Ravi", "Ram"))
#Escape sequence char
#Seq of char after the backslash '\'
#\n = new line, \t = tab, \' = single quote, \\ = backslash

47
False
True
5
Once upon a time there was a youtuber name ravi
43
R
Once upon a time there was a youtuber name Ram

In [ ]:
#Write a program to display a user name followed by good afternoon
#name = input("Enter your name")
#Greeting = "Good Morning! "
#print(Greeting + name)

#Write a program to fill in a letter template
name = input("Enter your name ")
date = input("Enter date in DD/MM/YY ")
letter = '''Dear <|NAME|>
You are selected!
Date: <|DATE|>'''
letter = letter.replace("<|NAME|>", name)
letter = letter.replace("<|DATE|>", date)
print(letter)

Enter your name Ashutosh Singh
Enter date in DD/MM/YY 28/12/1998
Dear Ashutosh Singh
You are selected!
Date: 28/12/1998

In [ ]:
#Write a program to dedect double spaces in a string
st = "This is a string with  double space"
doubleSpaces = st.find("  ")
print(doubleSpaces)
st = st.replace("  ", " ")
print(st)

21
This is a string with double space

In [ ]:
#Write a program to format the sentance using escapr seq
#letter = "Dear Harry, Ths phython course is nice. Thanks"
letter = "Dear Harry,\nThis phython course is nice.\nThanks"
print(letter)

Dear Harry,
This phython course is nice.
Thanks